<%= form_for @event do |f| %>

  <div class="form-group">
    <%= f.label :title, class: 'control-label' %><br>
    <%= f.text_field :title, size:'48x1',class: 'form-control' %><br>
  </div>

  <div class="form-group">
    <%= f.label :description, class: 'control-label' %><br>
    <%= f.text_area :description, size: '50x5', class: 'form-control' %><br>
  </div>

  <div class="form-group">
    <label class="control-label" for="event_start">Strat</label>
    <div class='input-group date' id='datetimepicker1' >
      <input type='datetime' class="form-control" id="event_start" 
             name="event[start]" data-date-format="YYYY/MM/DD HH:mm" >
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label" for="event_finish">Finish</label>
    <div class='input-group date' id='datetimepicker2'>
      <input type='datetime' class="form-control" id="event_finish" 
             name="event[finish]"data-date-format="YYYY/MM/DD HH:mm"  >
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :all_day, class: 'control-label' %><br>
    <%= f.check_box :all_day %>
  </div>

  <div class="modal-footer">
    <%= f.submit :class => 'btn', :id => 'submit-btn'%>
  </div>
<% end %>

<script type="text/javascript">
    var datepicker = $(function () {
            $('#datetimepicker1').datetimepicker();
            $('#datetimepicker2').datetimepicker();
          });
</script>



